<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>SF::new script</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link rel="shortcut icon" href="/ui/assets/images/favicon.ico"/>
        <link href="/ui/assets/libs/select2/select2.min.css" rel="stylesheet" type="text/css"/>
        <link href="/ui/assets/libs/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css"/>
        <link href="/ui/assets/libs/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css"/>
        <link href="/ui/assets/libs/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" type="text/css"/>
        <link href="/ui/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/ui/assets/css/icons.min.css" rel="stylesheet" type="text/css"/>
        <link href="/ui/assets/css/app.min.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header id="topnav">
            <div class="container-fluid">
                <div id="navigation">
                    <ul class="navigation-menu">
                        <li class="">
                            <a href="/"></i>/index</li>
                    </a>
                </li>
                <li class="">
                    <a href="/ui/list">
                        <i class="la la-cube"></i>Список сканов
                    </a>
                </li>
                <li class="">
                    <a href="/ui/search">
                        <i class="la la-search"></i>Поиск
                    </a>
                </li>

                <li class="has-submenu last-elements">
                    <a href="#">
                        <i class="la la-code"></i>Скрипты
                        <div class="arrow-down"></div>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="/ui/callbacks/new">Новый</a>
                        </li>
                        <li>
                            <a href="/ui/callbacks/all">Список</a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="/ui/calc">
                        <i class="la la-calculator"></i>Калькулятор
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </body>
</html>
</div>
</header>
<div class="wrapper">
<div class="container-fluid">
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form action="/ui/callbacks/new" method="post">
                    <div class="form-group">
                        <label for="name" class="col-form-label">Таргет</label>
                        <select class="form-control select2" name="service" data-toggle="select2" data-placeholder="Choose ...">
                            {{ range .service }}
                                <option>{{.}}</option>
                            {{ end }}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="onTarget" class="col-form-label">Описание
                        </label>
                        <input required type="text" class="form-control" name="about"/>
                    </div>
                    <div class="form-group">
                        <label for="callback" class="col-form-label">Src</label>
                        <textarea required class="form-control" name="callback" rows="15"></textarea>
                    </div>
                    <div class="form-group text-right mb-0">
                        <button class="btn btn-primary waves-effect waves-light mr-1" type="submit">
                            Submit
                        </button>
                        <button type="reset" class="btn btn-secondary waves-effect">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<footer class="footer">
<div class="container-fluid">
<div class="row">
    <div class="col-md-6">2021</div>
    <div class="col-md-6">
        <div class="text-md-right footer-links d-none d-sm-block">
            <a href="xmpp:corax@thesecure.biz">Support</a>
        </div>
    </div>
</div>
</div>
</footer>
</body>
</html>
<script src="/ui/assets/js/vendor.min.js"></script>
<script src="/ui/assets/libs/jquery-nice-select/jquery.nice-select.min.js"></script>
<script src="/ui/assets/libs/switchery/switchery.min.js"></script>
<script src="/ui/assets/libs/select2/select2.min.js"></script>
<script src="/ui/assets/libs/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/ui/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="/ui/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="/ui/assets/js/pages/form-advanced.init.js"></script>
<script src="/ui/assets/js/app.min.js"></script>