<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>ScanFucker</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link rel="shortcut icon" href="assets/images/favicon.ico"/>
        <link href="/ui/assets/libs/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css"/>
        <link href="/ui/assets/libs/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css"/>
        <link href="/ui/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/ui/assets/css/icons.min.css" rel="stylesheet" type="text/css"/>
        <link href="/ui/assets/css/app.min.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header id="topnav">
            <div class="container-fluid">
                <div id="navigation">
                    <ul class="navigation-menu">
                        <li class="">
                            <a href="/"></i>/index</li>
                    </a>
                </li>
                <li class="">
                    <a href="/ui/list">
                        <i class="la la-cube"></i>Список сканов
                    </a>
                </li>
                <li class="">
                    <a href="/ui/search">
                        <i class="la la-search"></i>Поиск
                    </a>
                </li>
                <li class="has-submenu last-elements">
                    <a href="#">
                        <i class="la la-code"></i>Скрипты
                        <div class="arrow-down"></div>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="/ui/callbacks/new">Новый</a>
                        </li>
                        <li>
                            <a href="/ui/callbacks/all">Список</a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="/ui/calc">
                        <i class="la la-calculator"></i>Калькулятор
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </body>
</html>
</div>
</header>
<div class="wrapper">
<div class="container-fluid">
<div class="col-xl-12">
    <div class="card-box">
        <div class="table-responsive">
            <table class="table table-borderless table-hover table-centered table-nowrap m-0">
                <tbody>
                    {{ range .cbs }}
                        <tr>
                            <td>
                                <h5 class="m-0 font-weight-normal">
                                    <a href="/ui/cbinfo/{{ .Name }}">{{ .Name }}</a>
                                </h5>
                            </td>
                            <td>
                                {{ .About }}
                            </td>
                            <td>
                                {{ .Target }}
                            </td>
                            <td>
                                <a href="/ui/cbdl/{{.Name}}" class="btn btn-xs btn-danger">
                                    <i class="mdi mdi-delete"></i>
                                </a>
                            </td>
                        </tr>
                    {{ end }}
                </tbody>
            </td>
        </tr>
    </tbody>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<footer class="footer">
<div class="container-fluid">
<div class="row">
<div class="col-md-6">2021</div>
<div class="col-md-6">
<div class="text-md-right footer-links d-none d-sm-block">
<a href="xmpp:corax@thesecure.biz">Contact</a>
</div>
</div>
</div>
</div>
</footer>
<script src="/ui/assets/js/vendor.min.js"></script>
<script src="/ui/assets/libs/datatables/jquery.dataTables.min.js"></script>
<script src="/ui/assets/libs/datatables/dataTables.bootstrap4.js"></script>
<script src="/ui/assets/libs/datatables/dataTables.responsive.min.js"></script>
<script src="/ui/assets/libs/datatables/responsive.bootstrap4.min.js"></script>
<script src="/ui/assets/js/pages/dashboard-2.init.js"></script>
<script src="/ui/assets/js/app.min.js"></script>
<script src="/ui/assets/js/pages/datatables.init.js"></script>