<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>SF::{{.service}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="/ui/assets/images/favicon.ico">
    <link href="/ui/assets/libs/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="/ui/assets/libs/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="/ui/assets/libs/datatables/buttons.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="/ui/assets/libs/datatables/select.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="/ui/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/ui/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/ui/assets/css/app.min.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <header id="topnav">
        <div class="container-fluid">
            <div id="navigation">
                <ul class="navigation-menu">
                    <li class="">
                        <a href="/"></i>/index
                    </li>
                    </a>
                    </li>
                    <li class="">
                        <a href="/ui/list">
                            <i class="la la-cube"></i>Список сканов
                        </a>
                    </li>
                    <li class="">
                        <a href="/ui/search">
                            <i class="la la-search"></i>Поиск
                        </a>
                    </li>
                    <li class="has-submenu last-elements">
                        <a href="#">
                            <i class="la la-code"></i>Скрипты
                            <div class="arrow-down"></div>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="/ui/callbacks/new">Новый</a>
                            </li>
                            <li>
                                <a href="/ui/callbacks/all">Список</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="/ui/bots">
                            <i class="la la-calculator"></i>Боты
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
    </header>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="header-title">{{ .service }}</h4>
                            <table id="datatable-buttons" class="table table-striped nowrap">
                                <thead>
                                    <tr>
                                        <th>ScanName</th>
                                        <th>IP</th>
                                        <th>Port</th>
                                        <th>Component</th>
                                        <th>DeviceType</th>
                                        <th>Hostname</th>
                                        <th>OS</th>
                                        <th>ProductName</th>
                                        <th>Version</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ range .result }}
                                    <tr>
                                        <td>{{ .Name }}</td>
                                        <td>
                                            <a href="/ui/info/{{.Target.Host}}" target="_blank">{{ .Target.Host }}</a>
                                        </td>
                                        <td>{{ .Target.Port }}</td>
                                        <td>{{ .TcpFinger.ApplicationComponent }}</td>
                                        <td>{{ .TcpFinger.DeviceType }}</td>
                                        <td>{{ .TcpFinger.Hostname }}</td>
                                        <td>{{ .TcpFinger.OperatingSystem }}</td>
                                        <td>{{ .TcpFinger.ProductName }}</td>
                                        <td>{{ .TcpFinger.Version }} </td>
                                    </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                        <!-- end card body-->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col-->
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">2021</div>
                <div class="col-md-6">
                    <div class="text-md-right footer-links d-none d-sm-block">
                        <a href="xmpp:corax@thesecure.biz">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="rightbar-overlay"></div>
    <script src="/ui/assets/js/vendor.min.js"></script>
    <script src="/ui/assets/libs/datatables/jquery.dataTables.min.js"></script>
    <script src="/ui/assets/libs/datatables/dataTables.bootstrap4.js"></script>
    <script src="/ui/assets/libs/datatables/dataTables.responsive.min.js"></script>
    <script src="/ui/assets/libs/datatables/responsive.bootstrap4.min.js"></script>
    <script src="/ui/assets/libs/datatables/dataTables.buttons.min.js"></script>
    <script src="/ui/assets/libs/datatables/buttons.bootstrap4.min.js"></script>
    <script src="/ui/assets/libs/datatables/buttons.html5.min.js"></script>
    <script src="/ui/assets/libs/datatables/buttons.flash.min.js"></script>
    <script src="/ui/assets/libs/datatables/buttons.print.min.js"></script>
    <script src="/ui/assets/libs/datatables/dataTables.keyTable.min.js"></script>
    <script src="/ui/assets/libs/datatables/dataTables.select.min.js"></script>
    <script src="/ui/assets/libs/pdfmake/pdfmake.min.js"></script>
    <script src="/ui/assets/libs/pdfmake/vfs_fonts.js"></script>
    <script src="/ui/assets/js/pages/datatables.init.js"></script>
    <script src="/ui/assets/js/app.min.js"></script>
</body>

</html>