<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>SF::search</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link rel="shortcut icon" href="assets/images/favicon.ico"/>
        <link href="assets/libs/select2/select2.min.css" rel="stylesheet" type="text/css"/>
        <link href="assets/libs/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css"/>
        <link href="assets/libs/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css"/>
        <link href="assets/libs/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" type="text/css"/>
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css"/>
        <link href="assets/css/app.min.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header id="topnav">
            <div class="container-fluid">
                <div id="navigation">
                    <ul class="navigation-menu">
                        <li class="">
                            <a href="/"></i>/index</li>
                    </a>
                </li>
                <li class="">
                    <a href="/ui/list">
                        <i class="la la-cube"></i>Список сканов
                    </a>
                </li>
                <li class="">
                    <a href="/ui/search">
                        <i class="la la-search"></i>Поиск
                    </a>
                </li>
                <li class="has-submenu last-elements">
                    <a href="#">
                        <i class="la la-code"></i>Скрипты
                        <div class="arrow-down"></div>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="/ui/callbacks/new">Новый</a>
                        </li>
                        <li>
                            <a href="/ui/callbacks/all">Список</a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="/ui/calc">
                        <i class="la la-calculator"></i>Калькулятор
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </body>
</html>
</div>
</header>
<div class="wrapper">
<div class="container-fluid">
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form action="/ui/search" method="post">
                    <div class="form-group">
                        <label for="name" class="col-form-label">Cервис</label>
                        <select class="form-control select2" name="service" id="service" data-toggle="select2" onchange="choice(this)">
                            {{ range .service }}
                                <option>{{.}}</option>
                            {{ end }}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-form-label">Вендор</label>
                        <select class="form-control select2" name="vendor" id="vendor" data-toggle="select2">
                            <option>ALL</option>
                        </select>
                    </div>

                    <div class="form-group text-right mb-0">
                        <button class="btn btn-primary waves-effect waves-light mr-1" type="submit">
                            Search
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<footer class="footer">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">2021</div>
        <div class="col-md-6">
            <div class="text-md-right footer-links d-none d-sm-block">
                <a href="xmpp:corax@thesecure.biz">Support</a>
            </div>
        </div>
    </div>
</div>
</footer>
</body>
</html>
<script src="assets/js/vendor.min.js"></script>
<script src="assets/libs/jquery-nice-select/jquery.nice-select.min.js"></script>
<script src="assets/libs/switchery/switchery.min.js"></script>
<script src="assets/libs/select2/select2.min.js"></script>
<script src="assets/libs/bootstrap-select/bootstrap-select.min.js"></script>
<script src="assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="assets/js/pages/form-advanced.init.js"></script>
<script src="assets/js/app.min.js"></script>
<script>
async function choice(select) {
var selected = select
.options[select.selectedIndex]
.text;
let resp = await fetch('/ui/vendor/' + selected);
if (resp.ok) {
let json = await resp.json();

var select = document.getElementById("vendor");
var length = select.options.length;
for (i = length - 1; i >= 0; i--) {
    if (select.options[i].value != "ALL") {
        select.options[i] = null;
    };
};

for (v in json[selected]) {
    var vendor = json[selected][v];
    console.log(vendor, vendor == '');
    if (vendor == '') {
        vendor = '<undefined>'
    };
    var option = document.createElement("option");
    option.text = vendor;
    option.value = vendor;
    var select = document.getElementById("vendor");
    select.appendChild(option);
};
};

document
.getElementById('service')
.addEventListener('change', choice)
};
</script>